body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; 
    padding-top: 56px; 
}

.carousel-item img {
    height: 65vh;
    object-fit: cover;
}

#quienes-somos {
    background-color: #000; 
}


.section-title {
    font-size: 2.5rem; 
}

#contacto {
    background-color: #000; 
}

footer {
    background-color: #000; 
}

.footer-elements{
    display: flex;
}
.footer-icons{
    margin-left: 1000px;
}

.card {
    border: none; 
    border-radius: 0; 
    box-shadow: 0 4px 8px rgba(228, 230, 242, 0.571), 0 6px 20px rgba(255, 255, 255, 0.1);
}

.card-icon {
    background-color: #2D59A2;
}

.card-icon i {
    color: #fff;
}

.card-body {
    color: #fff; 
    padding: 1rem; 
}

.card-text {
    font-size: 1rem;
}

.card-img {
    height: 200px;
    object-fit: cover;
}


@media (max-width: 575.98px) {
    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next,
    .carousel-item:not(.active) {
        display: none;
    }
}
